{
    "parserOptions": {
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
    },
    "extends": [
        "./index.js"
    ],
    "rules": {
        "import/no-relative-parent-imports": "off"
    }
}
